body {
    font-weight: 300;
    line-height: 1.5;
    background-color: rgb(190, 190, 190);
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  li {
    display:inline;
    background-color:  #F46245;
  }
  
  li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
.button {
    background-color: #F46245;
    border: none;
    color: white;
    padding: 3px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
img {
  width: 175px;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;  
  color: #ffffff;
  background-color:#25687e;
  text-align: center;
  font-size: small;
}
header {
  font-size: 13px;
  background-color:#25687e;
  color: white;
  text-align: center;
  padding: .5%;
}
main {
	max-width: auto;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
  font-size: 18px;
  text-align: center;
  max-height: auto;
  margin-bottom: 200px;
}
main section {
	margin: 0.5rem;
	padding: 0 1rem;
}

p {
  font-size: 12.5px;
}
footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
  }
}
/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
}