html, body {
    min-height: 100%;
    font-weight: 300;
    line-height: 1.5;
    background-color: rgb(169, 205, 218);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  .button {
    background-color: rgb(17, 14, 170);
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }